@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .custom-background {
    background-image: url('https://res.cloudinary.com/dmyost0l3/image/upload/v1706108008/fun-3d-cartoon-illustration-indian-doctor_tlbwog.jpg');
  }

  .carousel-container {
    margin: auto;
    border-radius: 5px;
    padding: 2rem;
    background-color: #0F172A;
  }
  
   
  
  .carousel-item {
    outline: none; /* Remove outline on focus */
  }
 


   
}
